
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue';
  font-size: 16px;
}

.landing-container{
    position: relative;
    width: 100%;
    height: fit-content;
    background: linear-gradient(258.96deg, #FFFFFF 0%, rgba(217, 255, 255, 0.6) 100%);
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 125px;
    width: 100%;
    z-index: -1;
    
}
.nav-logo{
    width: 100px;
}

.nav-links{
    display: flex;
    gap: 40px;
}
.nav-link{
    list-style: none;

}

.nav-item{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    color: #121212;
}

.nav-btn{
    background-color: #1565C0;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 15px 30px;
    letter-spacing: .5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out .5s;
    text-decoration: none;
}
.nav-btn:hover{
    background-color: #fff;
    border: .5px solid #1565C0;
    outline: none;
    color: #1565C0;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 30px;
    letter-spacing: .5px;
    border-radius: 10px;
    cursor: pointer;
}




/* -----------HERO STYLING----------- */

.hero-section{
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 75px 125px;
}

.hero-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.hero-text{
    margin-top: 10px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    /* width: auto; */
}
.hero-text h1{
    font-size: 45px;
    color: #1E88E5;
    max-width: 600px;
    line-height: 60px;
}
.hero-text p{
    line-height: 30px;
    width: 500px;
    color: #121212;
    font-size: 18px;
    font-weight: 300;
}
.hero-text p span {
    color: #1565C0;
    font-size: 20px;
    font-weight: 400;
}
.hero-text button{
    width: fit-content;
}
.hero-apps{
    display: flex;
    gap: 10px;
}
.hero-apps img{
    width: 150px;
}
.hero-apps img:hover{
    border: 3px solid #1565C0;
    border-radius: 12px;
}
.hero-img{
    position: relative;
}
.hero-fade{
    width: 500px;
    position: relative;
    z-index: -5;
    margin-top: -700px;
    
}
.hero-doctor{
    position: relative;
    width: 500px;
}



/* ------------ WHO WE ARE STYLING ------------ */

.who{
    width: 100%;
    position: relative;
    background-color: #1E88E5;
    padding: 75px 125px;
}

.who-container{
    /* width: 100%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 70px;
    
}
.who-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.who-title p{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.who-title h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .5px;
    text-align: center;
    width: 500px;
    margin: auto;
}

.boxes-container{
    padding: 0 40px;
    display: flex;
    gap: 40px;
    justify-content: center ;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box-img{
    width: 40px;
}

.box h4{
    font-size: 20px;   
}
.box p{
    font-size: 16px;
    width: 300px;
    font-weight: 300;
    text-align: justify;
    line-height: 28px;
}



/* ----------------FREE-TRIAL STYLING---------------- */


.free-container{
    width: 100%;
    height: fit-content;
    padding: 55px 125px;
    background-color: #E3F2FD;
}
.free-trial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.free-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.free-text h4{
    font-weight: 400;
    font-size: 30px;
}
.free-text p{
    max-width: 650px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}




/* --------------------MISSION STYLING -------------------- */



.mission-container{
    background-image: url(../../images/mission.svg);
    background-size: cover;
    background-position: top center;
    height: fit-content;
    padding: 125px 125px;
}
.mission{
    width: max-content;
}

.mission-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mission-details p{
    width: 500px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.mission-img{
    width: 80px;
}

.mission-cta{
    display: flex;
    align-items: center;
    gap: 40px;
    
}



/* ----------- FAQ STYLING ----------------------- */


#faq{
    padding: 95px 12%;
    text-align: center;
    font-size: 18px;
    background-color: #E3F2FD;
}
#faq p{
    font-weight: 300;
    font-size: 16px;
}
#faq h2{
    font-weight: 400;
    font-size: 30px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 950px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    color: #1971C2;
    border-radius: 10px;
}
.accordion li label::after{
    content: "+";
    font-size: 24px;
    color: #676767;
    position: absolute;
    right: 40px;
    transition: transform 0.5s;
}
input[type = "radio"]{
    display: none;
}
.accordion .content{
    background: #fff;
    color: #676767;
    text-align: left;
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
    border-radius: 10px 10px 10px 10px;
}
.accordion .content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.accordion input[type = "radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 40px;
}
.accordion input[type = "radio"]:checked + label::after{
    transform: rotate(-45deg);
    color: #1971C2;
}



/* ----------------------- TRANSFORM STYLING -------------------- */



.transform-container{
    padding: 55px 125px;
    height: fit-content;
    width: 100%;
}

.transform{
    background-color: #FFCC80;
    padding: 50px 0;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.transform-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.transform-text p{
    font-size: 16px;
    font-weight: 300;
}
.transform-text h4{
    font-size: 30px;
}
.transform-text h4 span{
    font-size: 30px;
    color: #1565C0;
}
.transform-cta{
    margin: auto;
}



/* ----------------FOOOTER STYLING ---------------------- */

.footer{
    background-color: #121212;
    color: #fff;
    padding: 75px 95px;
    display: flex;
    flex-direction: column;
    gap: 150px;

}
.footer p{
    text-align: center;
}
.footer-container{
    
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footer-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 450px;
}

.footer-socials{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-vitals-logo{
    width: 80px;
}
.social-logos{
    display: flex;
    gap: 15px;
}
.footer-logo{
    width: 40px;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-subscribe h4{
    font-size: 30px;
    width: 450px;
    line-height: 40px;
}

.subscribe{
    width: 100%;
    display: flex;
}
.subscribe input{
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
}
.subscribe-btn{
    background-color: #1565C0;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 15px 30px;
    letter-spacing: .5px;
    border-radius: 0 10px 10px 0;
}

.footer-links-container{
    display: flex;
    gap: 40px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-head{
    font-size: 18px;
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-items li{
    list-style: none;
}
.footer-item{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}






/* -media queries--------------------------------÷ */

@media only screen and (min-width: 1100px) and (max-width: 1200px){

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px;
        width: 100%;
        z-index: -1;
        
    }
    .nav-logo{
        width: 100px;
    }
    
    .nav-links{
        display: flex;
        gap: 30px;
    }
    
    .nav-item{
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        font-weight: 300;
        color: #121212;
    }
/* ---------------------------------------------------------------- */


    .hero-section{
        width: 100%;
        position: relative;
        height: fit-content;
        padding: 75px 100px;
    }
    
    .hero-details{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2px;
    }
    
    .hero-text{
        margin-top: 0px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        /* width: auto; */
    }

    .who{
        width: 100%;
        position: relative;
        background-color: #1E88E5;
        padding: 75px 100px;
    }
    
    .who-container{
        /* width: 100%; */
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 70px;
        
    }
    .who-title{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
    
    
    .boxes-container{
        padding: 0 10px;
        display: flex;
        gap: 40px;
        justify-content: center;
    }

/* ------------------------------------------------ */


.free-container{
    width: 100%;
    height: fit-content;
    padding: 55px 100px;
    background-color: #E3F2FD;
}

.free-text p{
    max-width: 550px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}



/* ------------------------------------------------ */

    .mission-container{
        background-image: url(../../images/mission.svg);
        background-size: cover;
        background-position: top center;
        height: fit-content;
        padding: 65px 100px;
    }
    .mission-details{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mission-details p{
        width: 400px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
    }
    .mission-img{
        width: 80px;
    }
    
    .mission-cta{
        display: flex;
        align-items: center;
        gap: 40px;
        
    }
    
/* ---------------------------------------------------------------- */
.footer{
    background-color: #121212;
    color: #fff;
    padding: 75px 55px;
    display: flex;
    flex-direction: column;
    gap: 150px;

}

.footer-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.footer-vitals-logo{
    width: 70px;
}
.social-logos{
    display: flex;
    gap: 15px;
}
.footer-logo{
    width: 40px;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-subscribe h4{
    font-size: 25px;
    width: 350px;
    line-height: 40px;
}    
    }



    @media only screen and (min-width: 920px) and (max-width: 1099px){

        .navbar{
            background-color: #FFCC80;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 100px;
            width: 100%;
            z-index: -1;
            
        }
        .nav-logo{
            width: 100px;
        }
        
        .nav-links{
            display: none;
            gap: 40px;
        }
        /* .nav-link{
            list-style: none;
        
        }
        
        .nav-item{
            text-decoration: none;
            list-style: none;
            font-size: 16px;
            font-weight: 300;
            color: #121212;
        } */
        
        .navbar .nav-btn{
            display: none;
            background-color: #1565C0;
            border: 0;
            outline: none;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            padding: 15px 30px;
            letter-spacing: .5px;
            border-radius: 10px;
            cursor: pointer;
            transition: all ease-in-out .5s;
            text-decoration: none;
        }
        /* .nav-btn:hover{
            background-color: #fff;
            border: .5px solid #1565C0;
            outline: none;
            color: #1565C0;
            font-size: 12px;
            font-weight: 400;
            padding: 15px 30px;
            letter-spacing: .5px;
            border-radius: 10px;
            cursor: pointer;
        } */

/* ---------------------------------------------------------------- */
        .hero-section{
            width: 100%;
            position: relative;
            height: fit-content;
            padding: 75px 55px;
        }

        .hero-details{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }

        .hero-text{
            margin-top: 10px;
            display: flex;
            gap: 25px;
            flex-direction: column;
            /* width: auto; */
        }
        .hero-text h1{
            font-size: 35px;
            color: #1E88E5;
            max-width: 400px;
            line-height: 40px;
        }
        .hero-text p{
            line-height: 30px;
            width: 400px;
            color: #121212;
            font-size: 18px;
            font-weight: 300;
        }
        .hero-text p span {
            color: #1565C0;
            font-size: 20px;
            font-weight: 400;
        }
        .hero-text button{
            width: fit-content;
        }
        .hero-apps{
            display: flex;
            gap: 10px;
        }
        .hero-apps img{
            width: 100px;
        }
        .hero-apps img:hover{
            border: 3px solid #1565C0;
            border-radius: 12px;
        }
        .hero-img{
            position: relative;
        }
        .hero-fade{
            width: 400px;
            position: relative;
            z-index: -5;
            margin-top: -700px;
            
        }
        .hero-doctor{
            position: relative;
            width: 400px;
        }


/* ------------------------------------------------ */

.who{
    width: 100%;
    position: relative;
    background-color: #1E88E5;
    padding: 75px 100px;
}

.who-container{
    /* width: 100%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 70px;
    
}
.who-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.who-title p{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.who-title h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .5px;
    text-align: center;
    width: 500px;
    margin: auto;
}

.boxes-container{
    padding: 0 40px;
    display: flex;
    gap: 30px;
    justify-content: center ;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box-img{
    width: 40px;
}

.box h4{
    font-size: 20px;   
}
.box p{
    font-size: 16px;
    width: 250px;
    font-weight: 300;
    text-align: justify;
    line-height: 28px;
}


/* ---------------------------------------------------------------- */

.free-container{
    width: 100%;
    height: fit-content;
    padding: 35px 100px;
    background-color: #E3F2FD;
}
/* .free-trial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.free-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.free-text h4{
    font-weight: 400;
    font-size: 30px;
}
.free-text p{
    max-width: 450px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

/* ---------------------------------------------------------------- */

.mission-container{
    background-image: url(../../images/mission.svg);
    background-size: cover;
    background-position: top center;
    height: fit-content;
    padding: 45px 100px;
}
.mission{
    width: max-content;
}

.mission-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mission-details p{
    width: 300px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.mission-img{
    width: 80px;
}

.mission-cta{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.demo{
    width: 90px;
}


/* ---------------------------------------------------------------- */

#faq{
    padding: 55px 50px;
    text-align: center;
    font-size: 18px;
    background-color: #E3F2FD;
}

/* ---------------------------------------------------------------- */

.footer{
    background-color: #121212;
    color: #fff;
    padding: 75px 55px;
    display: flex;
    flex-direction: column;
    gap: 150px;

}
.footer p{
    text-align: center;
}
.footer-container{
    
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footer-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 350px;
}

.footer-socials{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-vitals-logo{
    width: 80px;
}
.social-logos{
    display: flex;
    gap: 15px;
}
.footer-logo{
    width: 40px;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-subscribe h4{
    font-size: 30px;
    width: 300px;
    line-height: 40px;
}

.subscribe{
    width: 80%;
    display: flex;
}
.subscribe input{
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-weight: 300;
    font-size: 14px;
}
.subscribe-btn{
    background-color: #1565C0;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 15px 15px;
    letter-spacing: .5px;
    border-radius: 0 10px 10px 0;
}

.footer-links-container{
    display: flex;
    gap: 10px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-head{
    font-size: 18px;
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-items li{
    list-style: none;
}
.footer-item{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}
    }


@media only screen and (min-width: 750px) and (max-width: 919px){
    .navbar{
        background-color: #FFCC80;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 45px;
        width: 100%;
        z-index: -1;
        
    }
    .nav-logo{
        width: 100px;
    }
    
    .nav-links{
        display: none;
        gap: 40px;
    }
    /* .nav-link{
        list-style: none;
    
    }
    
    .nav-item{
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        font-weight: 300;
        color: #121212;
    } */
    
    .navbar .nav-btn{
        display: none;
        background-color: #1565C0;
        border: 0;
        outline: none;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        padding: 15px 30px;
        letter-spacing: .5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease-in-out .5s;
        text-decoration: none;
    }
    /* .nav-btn:hover{
        background-color: #fff;
        border: .5px solid #1565C0;
        outline: none;
        color: #1565C0;
        font-size: 12px;
        font-weight: 400;
        padding: 15px 30px;
        letter-spacing: .5px;
        border-radius: 10px;
        cursor: pointer;
    } */

/* ---------------------------------------------------------------- */
    .hero-section{
        width: 100%;
        position: relative;
        height: fit-content;
        padding: 75px 45px;
    }

    .hero-details{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .hero-text{
        margin-top: 10px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        /* width: auto; */
    }
    .hero-text h1{
        font-size: 30px;
        color: #1E88E5;
        max-width: 300px;
        line-height: 40px;
    }
    .hero-text p{
        line-height: 30px;
        width: 300px;
        color: #121212;
        font-size: 16px;
        font-weight: 300;
    }
    .hero-text p span {
        color: #1565C0;
        font-size: 16px;
        font-weight: 400;
    }
    .hero-text button{
        width: fit-content;
    }
    .hero-apps{
        display: flex;
        gap: 10px;
    }
    .hero-apps img{
        width: 100px;
    }
    .hero-apps img:hover{
        border: 3px solid #1565C0;
        border-radius: 12px;
    }
    .hero-img{
        position: relative;
    }
    .hero-fade{
        width: 350px;
        position: relative;
        z-index: -5;
        margin-top: -700px;
        
    }
    .hero-doctor{
        position: relative;
        width: 350px;
    }


/* ------------------------------------------------ */

.who{
width: 100%;
position: relative;
background-color: #1E88E5;
padding: 75px 45px;
}

.who-container{
/* width: 100%; */
height: fit-content;
display: flex;
flex-direction: column;
gap: 70px;

}
.who-title{
text-align: center;
display: flex;
flex-direction: column;
gap: 30px;
}

.who-title p{
font-size: 14px;
text-align: center;
font-weight: 300;
}

.who-title h2{
font-weight: 400;
font-size: 30px;
line-height: 40px;
letter-spacing: .5px;
text-align: center;
width: 500px;
margin: auto;
}

.boxes-container{
padding: 0 0px;
display: flex;
gap: 20px;
justify-content: center ;
}

.box{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
.box-img{
width: 40px;
}

.box h4{
font-size: 16px;  
width: 190px; 
text-align: left;
}
.box p{
font-size: 14px;
width: 100%;
font-weight: 300;
text-align: justify;
line-height: 25px;
}


/* ---------------------------------------------------------------- */

.free-container{
width: 100%;
height: fit-content;
padding: 35px 45px;
background-color: #E3F2FD;
}
/* .free-trial{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

.free-text{
display: flex;
flex-direction: column;
gap: 20px;
} */
.free-text h4{
font-weight: 400;
font-size: 25px;
}
.free-text p{
max-width: 400px;
font-weight: 300;
font-size: 14px;
line-height: 28px;
}

/* ---------------------------------------------------------------- */

.mission-container{
background-image: url(../../images/mission.svg);
background-size: cover;
background-position: top center;
height: fit-content;
padding: 45px 45px;
}
.mission-container::after{
background-image: url(../../images/mission.svg);
background-size: cover;
background-position: top center;
height: fit-content;
padding: 45px 100px;
}
.mission{
width: max-content;
}

.mission-details{
display: flex;
flex-direction: column;
gap: 20px;
}
.mission-details p{
width: 300px;
font-weight: 300;
font-size: 16px;
line-height: 30px;
}
.mission-img{
width: 80px;
}

.mission-cta{
display: flex;
align-items: center;
gap: 40px;

}
.demo{
width: 90px;
}


/* ---------------------------------------------------------------- */

#faq{
padding: 55px 35px;
text-align: center;
font-size: 18px;
background-color: #E3F2FD;
}
#faq p{
    font-weight: 300;
    font-size: 16px;
}
#faq h2{
    font-weight: 400;
    font-size: 30px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 950px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    padding: 20px 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    align-items: center;
    background: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    color: #1971C2;
    border-radius: 10px;
}
.accordion li label::after{
    content: "+";
    font-size: 24px;
    color: #676767;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type = "radio"]{
    display: none;
}
.accordion .content{
    background: #fff;
    color: #676767;
    text-align: left;
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
    border-radius: 10px 10px 10px 10px;
}
.accordion .content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.accordion input[type = "radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 40px;
}
.accordion input[type = "radio"]:checked + label::after{
    transform: rotate(-45deg);
    color: #1971C2;
}


/* ---------------------------------------------------------------- */

.footer{
background-color: #121212;
color: #fff;
padding: 75px 55px;
display: flex;
flex-direction: column;
gap: 150px;

}
.footer p{
text-align: center;
}
.footer-container{

color: #fff;
display: flex;
justify-content: space-between;
}
.footer-details{
display: flex;
flex-direction: column;
gap: 50px;
width: 350px;
}

.footer-socials{
height: fit-content;
width: fit-content;
display: flex;
flex-direction: column;
gap: 20px;
}

.footer-vitals-logo{
width: 80px;
}
.social-logos{
display: flex;
gap: 15px;
}
.footer-logo{
width: 40px;
}

.footer-subscribe{
display: flex;
flex-direction: column;
gap: 30px;
}

.footer-subscribe h4{
font-size: 30px;
width: 300px;
line-height: 40px;
}

.subscribe{
width: 80%;
display: flex;
}
.subscribe input{
height: 48px;
width: 100%;
border: none;
outline: none;
padding: 0 10px;
font-weight: 300;
font-size: 14px;
}
.subscribe-btn{
background-color: #1565C0;
border: 0;
outline: none;
color: #fff;
font-size: 12px;
font-weight: 300;
padding: 15px 15px;
letter-spacing: .5px;
border-radius: 0 10px 10px 0;
}

.footer-links-container{
display: flex;
gap: 10px;
}
.footer-links{
display: flex;
flex-direction: column;
gap: 30px;
}
.footer-head{
font-size: 18px;
}
.footer-items{
display: flex;
flex-direction: column;
gap: 15px;
}
.footer-items li{
list-style: none;
}
.footer-item{
text-decoration: none;
color: #FFFFFF;
cursor: pointer;
font-size: 14px;
font-weight: 300;
}

}
@media only screen and (min-width: 600px) and (max-width: 749px){
    .navbar{
        background-color: #FFCC80;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 45px;
        width: 100%;
        z-index: -1;
        
    }
    .nav-logo{
        width: 80px;
    }
    
    .nav-links{
        display: none;
        gap: 40px;
    }
    /* .nav-link{
        list-style: none;
    
    }
    
    .nav-item{
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        font-weight: 300;
        color: #121212;
    } */
    
    .navbar .nav-btn{
        display: none;
        background-color: #1565C0;
        border: 0;
        outline: none;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        padding: 15px 30px;
        letter-spacing: .5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease-in-out .5s;
        text-decoration: none;
    }
    /* .nav-btn:hover{
        background-color: #fff;
        border: .5px solid #1565C0;
        outline: none;
        color: #1565C0;
        font-size: 12px;
        font-weight: 400;
        padding: 15px 30px;
        letter-spacing: .5px;
        border-radius: 10px;
        cursor: pointer;
    } */

/* ---------------------------------------------------------------- */
    .hero-section{
        width: 100%;
        position: relative;
        height: fit-content;
        padding: 75px 45px;
    }

    .hero-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .hero-text{
        margin-top: 10px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        /* width: auto; */
    }
    .hero-text h1{
        font-size: 40px;
        color: #1E88E5;
        max-width: 400px;
        line-height: 50px;
    }
    .hero-text p{
        line-height: 30px;
        width: 500px;
        color: #121212;
        font-size: 16px;
        font-weight: 300;
    }
    .hero-text p span {
        color: #1565C0;
        font-size: 16px;
        font-weight: 400;
    }
    .hero-text button{
        width: fit-content;
    }
    .hero-apps{
        display: flex;
        gap: 10px;
    }
    .hero-apps img{
        width: 100px;
    }
    .hero-apps img:hover{
        border: 3px solid #1565C0;
        border-radius: 12px;
    }
    .hero-img{
        padding: 30px;
        margin: auto;
        position: relative;
    }
    .hero-fade{
        width: 450px;
        position: relative;
        z-index: -5;
        margin-top: -700px;
        
    }
    .hero-doctor{
        position: relative;
        width: 450px;
    }


/* ------------------------------------------------ */

.who{
width: 100%;
position: relative;
background-color: #1E88E5;
padding: 45px 45px;
}

.who-container{
/* width: 100%; */
height: fit-content;
display: flex;
flex-direction: column;
gap: 70px;

}
.who-title{
text-align: center;
display: flex;
flex-direction: column;
gap: 30px;
}

.who-title p{
font-size: 14px;
text-align: center;
font-weight: 300;
}

.who-title h2{
font-weight: 400;
font-size: 30px;
line-height: 40px;
letter-spacing: .5px;
text-align: center;
width: 500px;
margin: auto;
}

.boxes-container{
padding: 0 0px;
display: flex;
flex-direction: column;
margin: auto;
gap: 30px;
justify-content: center ;
}

.box{
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}
.box-img{
width: 40px;
}

.box h4{
font-size: 16px;  
width: 190px; 
text-align: left;
}
.box p{
font-size: 14px;
width: 100%;
font-weight: 300;
text-align: justify;
line-height: 25px;
}


/* ---------------------------------------------------------------- */

.free-container{
width: 100%;
height: fit-content;
padding: 35px 45px;
background-color: #E3F2FD;
}
/* .free-trial{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

.free-text{
display: flex;
flex-direction: column;
gap: 20px;
} */
.free-text h4{
font-weight: 400;
font-size: 25px;
}
.free-text p{
max-width: 300px;
font-weight: 300;
font-size: 14px;
line-height: 25px;
}
.free-trial .nav-btn{
    padding: 10px 15px;
}

/* ---------------------------------------------------------------- */

.mission-container{
background-image: url(../../images/mission.svg);
background-size: cover;
background-position: top center;
height: fit-content;
padding: 45px 45px;
}
.mission-container::after{
background-image: url(../../images/mission.svg);
background-size: cover;
background-position: left left;
height: fit-content;
padding: 45px 100px;
}
.mission{
width: max-content;
}

.mission-details{
display: flex;
flex-direction: column;
gap: 20px;
}
.mission-details p{
width: 300px;
font-weight: 300;
font-size: 16px;
line-height: 30px;
}
.mission-img{
width: 80px;
}

.mission-cta{
display: flex;
align-items: center;
gap: 40px;

}
.demo{
width: 90px;
}


/* ---------------------------------------------------------------- */

#faq{
padding: 55px 35px;
text-align: center;
font-size: 18px;
background-color: #E3F2FD;
}
#faq p{
    font-weight: 300;
    font-size: 16px;
}
#faq h2{
    font-weight: 400;
    font-size: 30px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 1000px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    width: 100%;
    padding: 20px 20px;
    font-size: 14px;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    align-items: center;
    background: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    color: #1971C2;
    border-radius: 10px;
}
.accordion li label::after{
    content: "+";
    font-size: 24px;
    color: #676767;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type = "radio"]{
    display: none;
}
.accordion .content{
    background: #fff;
    color: #676767;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
    border-radius: 10px 10px 10px 10px;
}
.accordion .content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.accordion input[type = "radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 40px;
}
.accordion input[type = "radio"]:checked + label::after{
    transform: rotate(-45deg);
    color: #1971C2;
}

/* ---------------------------------------------------------------- */

.transform-container{
    padding: 55px 55px;
    height: fit-content;
    width: 100%;
}

.transform{
    background-color: #FFCC80;
    padding: 40px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.transform-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.transform-text p{
    font-size: 16px;
    font-weight: 300;
}
.transform-text h4{
    font-size: 30px;
}
.transform-text h4 span{
    font-size: 30px;
    color: #1565C0;
}
.transform-cta{
    margin: auto;
}


/* ---------------------------------------------------------------- */

.footer{
background-color: #121212;
color: #fff;
padding: 75px 35px;
display: flex;
flex-direction: column;
gap: 150px;

}
.footer p{
text-align: center;
}
.footer-container{

color: #fff;
display: flex;
gap: 50px;
flex-direction: column;
justify-content: center;
margin: auto;
}
.footer-details{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 350px;
}

.footer-socials{
height: fit-content;
width: fit-content;
display: flex;
flex-direction: column;
gap: 20px;
}

.footer-vitals-logo{
width: 80px;
}
.social-logos{
display: flex;
gap: 15px;
}
.footer-logo{
width: 40px;
}

.footer-subscribe{
display: flex;
flex-direction: column;
gap: 30px;
}

.footer-subscribe h4{
font-size: 25px;
width: 250px;
line-height: 40px;
}

.subscribe{
width: 80%;
display: flex;
}
.subscribe input{
height: 38px;
width: 100%;
border: none;
outline: none;
padding: 0 5px;
font-weight: 300;
font-size: 12px;
}
.subscribe-btn{
background-color: #1565C0;
border: 0;
outline: none;
color: #fff;
font-size: 12px;
font-weight: 300;
padding: 10px 5px;
letter-spacing: .5px;
border-radius: 0 10px 10px 0;
}

.footer-links-container{
display: flex;
gap: 20px;
text-align: left;
}
.footer-links{
display: flex;
flex-direction: column;
gap: 30px;
}
.footer-head{
font-size: 16px;
width: 150px;
}
.footer-items{
display: flex;
flex-direction: column;
gap: 15px;
}
.footer-items li{
list-style: none;
}
.footer-item{
text-decoration: none;
color: #FFFFFF;
cursor: pointer;
font-size: 14px;
font-weight: 300;
}

}
@media only screen and (min-width: 320px) and (max-width: 599px){
    .navbar{
        background-color: #FFCC80;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        width: 100%;
        z-index: -1;
        
    }
    .nav-logo{
        width: 50px;
    }
    
    .nav-links{
        display: none;
        gap: 40px;
    }
    /* .nav-link{
        list-style: none;
    
    }
    
    .nav-item{
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        font-weight: 300;
        color: #121212;
    } */
    
    .navbar .nav-btn{
        display: none;
        background-color: #1565C0;
        border: 0;
        outline: none;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        padding: 15px 30px;
        letter-spacing: .5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease-in-out .5s;
        text-decoration: none;
    }
    /* .nav-btn:hover{
        background-color: #fff;
        border: .5px solid #1565C0;
        outline: none;
        color: #1565C0;
        font-size: 12px;
        font-weight: 400;
        padding: 15px 30px;
        letter-spacing: .5px;
        border-radius: 10px;
        cursor: pointer;
    } */

/* ---------------------------------------------------------------- */
    .hero-section{
        width: 100%;
        position: relative;
        height: fit-content;
        padding: 45px 25px;
    }

    .hero-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .hero-text{
        margin-top: 10px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        /* width: auto; */
    }
    .hero-text h1{
        font-size: 25px;
        color: #1E88E5;
        max-width: 200px;
        line-height: 30px;
    }
    .hero-text p{
        line-height: 25px;
        width: 200px;
        color: #121212;
        font-size: 14px;
        font-weight: 300;
    }
    .hero-text p span {
        color: #1565C0;
        font-size: 16px;
        font-weight: 400;
    }
    .hero-text button{
        width: fit-content;
    }
    .hero-apps{
        display: flex;
        gap: 10px;
    }
    .hero-apps img{
        width: 100px;
    }
    .hero-apps img:hover{
        border: 3px solid #1565C0;
        border-radius: 12px;
    }
    .hero-img{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .hero-fade{
        width: 250px;
        position: relative;
        z-index: -5;
        margin-top: -700px;
        
    }
    .hero-doctor{
        position: relative;
        width: 250px;
    }


/* ------------------------------------------------ */

.who{
width: 100%;
position: relative;
background-color: #1E88E5;
padding: 45px 15px;
}

.who-container{
/* width: 100%; */
height: fit-content;
display: flex;
flex-direction: column;
gap: 40px;

}
.who-title{
text-align: center;
display: flex;
flex-direction: column;
gap: 30px;
}

.who-title p{
font-size: 14px;
text-align: center;
font-weight: 300;
}

.who-title h2{
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: .5px;
text-align: left;
width: 300px;
margin: auto;
}

.boxes-container{
padding: 0 0px;
display: flex;
flex-direction: column;
margin: auto;
gap: 30px;
justify-content: center ;
}

.box{
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}
.box-img{
width: 40px;
}

.box h4{
font-size: 16px;  
width: 200px; 
text-align: center;
}
.box p{
font-size: 14px;
width: 100%;
font-weight: 300;
text-align: justify;
line-height: 25px;
}


/* ---------------------------------------------------------------- */

.free-container{
width: 100%;
height: fit-content;
padding: 35px 25px;
background-color: #E3F2FD;
}
.free-trial{
display: flex;
flex-direction: column;
gap: 20px;
align-items: start;
justify-content: left;
width: 100%;
}

.free-text{
display: flex;
flex-direction: column;
gap: 15px;
}
.free-text h4{
font-weight: 400;
font-size: 25px;
}
.free-text p{
max-width: 300px;
font-weight: 300;
font-size: 14px;
line-height: 25px;
}
.free-trial .nav-btn{
    padding: 10px 15px;
}

/* ---------------------------------------------------------------- */

.mission-container{
background-image: url(../../images/mission.svg);
background-size: cover;
background-position: left;
height: fit-content;
padding: 45px 25px;
}
.mission-container::after{
background-image: url(../../images/mission.svg);
background-size: cover;
background-position: left left;
height: fit-content;
padding: 45px 100px;
}
.mission{
width: max-content;
display: flex;
flex-direction: column;
gap: 20px;
align-items: start;
}

.mission-details{
display: flex;
flex-direction: column;
gap: 20px;
}
.mission-details p{
width: 250px;
font-weight: 300;
font-size: 16px;
line-height: 30px;
}
.mission-img{
width: 80px;
}

.mission-cta{
display: flex;
flex-direction: column-reverse;
align-items: start;
gap: 20px;

}
.demo{
width: 70px;
}


/* ---------------------------------------------------------------- */

#faq{
padding: 55px 35px;
text-align: center;
font-size: 18px;
background-color: #E3F2FD;
}
#faq p{
    font-weight: 300;
    font-size: 16px;
}
#faq h2{
    font-weight: 400;
    font-size: 30px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 1000px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    width: 100%;
    padding: 20px 20px;
    font-size: 14px;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    align-items: center;
    background: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    color: #1971C2;
    border-radius: 10px;
}
.accordion li label::after{
    display: none;
    content: "+";
    font-size: 24px;
    color: #676767;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type = "radio"]{
    display: none;
}
.accordion .content{
    background: #fff;
    color: #676767;
    text-align: left;
    padding: 0 15px !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
    border-radius: 10px 10px 10px 10px;
}
.accordion .content p{
    font-size: 14px !important;
    font-weight: 300;
    line-height: 25px;
}
.accordion input[type = "radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 40px;
}
.accordion input[type = "radio"]:checked + label::after{
    transform: rotate(-45deg);
    color: #1971C2;
}

/* ---------------------------------------------------------------- */

.transform-container{
    padding: 55px 25px;
    height: fit-content;
    width: 100%;
}

.transform{
    background-color: #FFCC80;
    padding: 40px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.transform-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.transform-text p{
    font-size: 16px;
    font-weight: 300;
}
.transform-text h4{
    font-size: 30px;
}
.transform-text h4 span{
    font-size: 30px;
    color: #1565C0;
}
.transform-cta{
    margin: auto;
}


/* ---------------------------------------------------------------- */

.footer{
background-color: #121212;
color: #fff;
padding: 75px 25px;
display: flex;
flex-direction: row;
gap: 150px;

}
.footer p{
text-align: center;
}
.footer-container{

color: #fff;
display: flex;
gap: 50px;
flex-direction: column;
justify-content: center;
margin: auto;
}
.footer-details{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 350px;
}

.footer-socials{
height: fit-content;
width: fit-content;
display: flex;
flex-direction: column;
gap: 10px;
}

.footer-vitals-logo{
width: 80px;
}
.social-logos{
display: flex;
gap: 10px;
}
.footer-logo{
width: 40px;
}

.footer-subscribe{
display: flex;
flex-direction: column;
gap: 30px;
}

.footer-subscribe h4{
font-size: 25px;
width: 250px;
line-height: 40px;
}

.subscribe{
width: 80%;
display: flex;
}
.subscribe input{
height: 38px;
width: 100%;
border: none;
outline: none;
padding: 0 5px;
font-weight: 300;
font-size: 12px;
}
.subscribe-btn{
background-color: #1565C0;
border: 0;
outline: none;
color: #fff;
font-size: 12px;
font-weight: 300;
padding: 10px 5px;
letter-spacing: .5px;
border-radius: 0 10px 10px 0;
}

.footer-links-container{
display: flex;
flex-wrap: wrap;
gap: 30px;
text-align: left;
}
.footer-links{
display: flex;
flex-direction: column;
gap: 30px;
}
.footer-head{
font-size: 16px;
width: 150px;
}
.footer-items{
display: flex;
flex-direction: column;
gap: 15px;
}
.footer-items li{
list-style: none;
}
.footer-item{
text-decoration: none;
color: #FFFFFF;
cursor: pointer;
font-size: 14px;
font-weight: 300;
}

}

