
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue';
  font-size: 16px;
}

.landing-container{
    position: relative;
    width: 100%;
    height: fit-content;
    background: linear-gradient(258.96deg, #FFFFFF 0%, rgba(217, 255, 255, 0.6) 100%);
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 125px;
    width: 100%;
    z-index: -1;
    
}
.nav-logo{
    width: 100px;
}

.nav-links{
    display: flex;
    gap: 40px;
}
.nav-link{
    list-style: none;

}

.nav-item{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    color: #121212;
}

.nav-btn{
    background-color: #1565C0;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 15px 30px;
    letter-spacing: .5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out .5s;
    text-decoration: none;
}
.nav-btn:hover{
    background-color: #fff;
    border: .5px solid #1565C0;
    outline: none;
    color: #1565C0;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 30px;
    letter-spacing: .5px;
    border-radius: 10px;
    cursor: pointer;
}


/* -----------HERO STYLING----------- */

.hero-section{
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 75px 125px;
}

.hero-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.hero-text{
    margin-top: 10px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    /* width: auto; */
}
.hero-text h1{
    font-size: 45px;
    color: #1E88E5;
    max-width: 600px;
    line-height: 60px;
}
.hero-text p{
    line-height: 30px;
    width: 500px;
    color: #121212;
    font-size: 18px;
    font-weight: 300;
}
.hero-text p span {
    color: #1565C0;
    font-size: 20px;
    font-weight: 400;
}
.hero-text button{
    width: fit-content;
}
.hero-apps{
    display: flex;
    gap: 10px;
}
.hero-apps img{
    width: 150px;
}
.hero-apps img:hover{
    border: 3px solid #1565C0;
    border-radius: 12px;
}
.hero-img{
    position: relative;
}
.hero-fade{
    width: 500px;
    position: relative;
    z-index: -5;
    margin-top: -700px;
    
}
.hero-doctor{
    position: relative;
    width: 500px;
}



/* ------------ WHO WE ARE STYLING ------------ */

.who{
    width: 100%;
    position: relative;
    background-color: #1E88E5;
    padding: 75px 125px;
}

.who-container{
    /* width: 100%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 70px;
    
}
.who-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.who-title p{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.who-title h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .5px;
    text-align: center;
    width: 500px;
    margin: auto;
}

.boxes-container{
    padding: 0 40px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box-img{
    width: 40px;
}

.box h4{
    font-size: 20px;   
}
.box p{
    font-size: 16px;
    width: 300px;
    font-weight: 300;
    text-align: justify;
    line-height: 28px;
}



/* ----------------FREE-TRIAL STYLING---------------- */


.free-container{
    width: 100%;
    height: fit-content;
    padding: 55px 125px;
    background-color: #E3F2FD;
}
.free-trial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.free-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.free-text h4{
    font-weight: 400;
    font-size: 30px;
}
.free-text p{
    max-width: 650px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}




/* --------------------MISSION STYLING -------------------- */



.mission-container{
    background-image: url(../../images/mission.svg);
    background-size: cover;
    background-position: top center;
    height: fit-content;
    padding: 125px 125px;
}
.mission{
    width: max-content;
}

.mission-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mission-details p{
    width: 500px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.mission-img{
    width: 80px;
}

.mission-cta{
    display: flex;
    align-items: center;
    gap: 40px;
    
}



/* ----------- FAQ STYLING ----------------------- */


#faq{
    padding: 95px 12%;
    text-align: center;
    font-size: 18px;
    background-color: #E3F2FD;
}
#faq p{
    font-weight: 300;
    font-size: 16px;
}
#faq h2{
    font-weight: 400;
    font-size: 30px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 950px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    color: #1971C2;
    border-radius: 10px;
}
.accordion li label::after{
    content: "+";
    font-size: 24px;
    color: #676767;
    position: absolute;
    right: 40px;
    transition: transform 0.5s;
}
input[type = "radio"]{
    display: none;
}
.accordion .content{
    background: #fff;
    color: #676767;
    text-align: left;
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
    border-radius: 10px 10px 10px 10px;
}
.accordion .content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.accordion input[type = "radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 40px;
}
.accordion input[type = "radio"]:checked + label::after{
    transform: rotate(-45deg);
    color: #1971C2;
}



/* ----------------------- TRANSFORM STYLING -------------------- */



.transform-container{
    padding: 55px 125px;
    height: fit-content;
    width: 100%;
}

.transform{
    background-color: #FFCC80;
    padding: 50px 0;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.transform-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.transform-text p{
    font-size: 16px;
    font-weight: 300;
}
.transform-text h4{
    font-size: 30px;
}
.transform-text h4 span{
    font-size: 30px;
    color: #1565C0;
}
.transform-cta{
    margin: auto;
}



/* ----------------FOOOTER STYLING ---------------------- */

.footer{
    background-color: #121212;
    color: #fff;
    padding: 75px 95px;
    display: flex;
    flex-direction: column;
    gap: 150px;

}
.footer p{
    text-align: center;
}
.footer-container{
    
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footer-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 450px;
}

.footer-socials{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-vitals-logo{
    width: 80px;
}
.social-logos{
    display: flex;
    gap: 15px;
}
.footer-logo{
    width: 40px;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-subscribe h4{
    font-size: 30px;
    width: 450px;
    line-height: 40px;
}

.subscribe{
    width: 100%;
    display: flex;
}
.subscribe input{
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
}
.subscribe-btn{
    background-color: #1565C0;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 15px 30px;
    letter-spacing: .5px;
    border-radius: 0 10px 10px 0;
}

.footer-links-container{
    display: flex;
    gap: 40px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-head{
    font-size: 18px;
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-items li{
    list-style: none;
}
.footer-item{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}