



.reg-container{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
}

.left-container{
    background-color: #1976D2;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 55px 95px !important;
    gap: 70px !important;
}
.left-container p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.leftarrow{
    position: absolute;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}
.leftarrow span{
    position: relative;
    margin-left: 30px;
}

.arrow-icon{
    position: absolute;
}
.left-img{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.left-img img{
    margin: auto;
    width: 500px;
}









.right-container{
    position: absolute;
    background: #fff;
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    padding: 55px 95px;
    align-items: center;
}
.right-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.right-details img{
    width: 100px;
}
.right-details h4{
    font-size: 30px;
    font-weight: 400;
}
.right-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.small-inputs{
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
}
.small-input{
    display: flex;
    align-items: center;
    width: 100%;
    border: .5px solid #777777;
    border-radius: 8px;
    padding: 5px;
    gap: 50px;
}
.small-input input:focus{
    outline: none;
}
.small-input input::placeholder{
    font-size: 14px;
    color: #777777;
}
.pass-inputs{
    display: flex;
    gap: 65px;
    align-items: center;
    width: 100%;
    border: .5px solid #777777;
    border-radius: 8px;
    padding: 5px 5px;
}
.pass-inputs input{
    width: 150px;
    border: 0;
    outline: none;
    padding: 5px 5px;
}
.pass-inputs input::placeholder{
    font-size: 14px;
}

.pass-icons{
    color: #777777;
    font-weight: 100;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.pass-icons:hover{
    color: #1976D2;
    font-weight: 100;
}
.large-inputs{
    width: 100%;
    padding: 10px 10px;
    border: .5px solid #777777;
    border-radius: 8px;
}
.large-input input:focus{
    outline: none;
}
.large-input input::placeholder{
    font-size: 14px;
    color: #777777;
}
.small-inputs input{
    border: 1px solid #777777;
    outline: none;
}


.name-inputs{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.password-inputs{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.form-terms{
    margin-top: -10px;
    display: flex;
    gap: 10px;
}
.form-terms p{
    color: #121212;
    font-size: 14px;
    font-weight: 400;
}

.form-terms p span{
    color: #E65100;
    font-size: 14px;
    font-weight: 400;
}
.form-submit{
    margin-top: -20px;
    width: 100%;
}
.form-submit button{
    background-color: #1976D2;
    color: #fff;
    width: 100%;
    border: none;
    padding: 12px 0;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.form-submit button:hover{
    background-color: #fff;
    color: #1976D2;
    border: .5px solid #1976D2;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    border-radius: 8px;
}
.right-large-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}
.rightform-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rightform-inputs p{
    font-size: 14px;
}
.back-to-login{
    font-size: 14px;
    text-decoration: none;
    color: #121212;
}
.back-to-login span{
    color: #1976D2;
    font-size: 14px;
}