


.sidebar{
    position: relative;
    background-color: #073985;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* -------------SEARCHBAR STYLING ------------------------ */



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue',;
  font-size: 16px;
}



/* .container {
    background: #000;
    padding: 10px;
    width: 100%;
} */


.searchbar input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-family: 'Lato', 'Helvetica Neue',;
    font-size: 16px;
    font-weight: 100;
}
.searchbar button{
    padding: 7px 12px;
    margin-left: -73px;
    background: #1565C0;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: 'Lato', 'Helvetica Neue',;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-weight: 100;
}



/* -------------------LINKS STYLING ---------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue',;
  font-size: 16px;
}



.link{
  display: grid;
  gap: 4px;
}
.link div{
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: all ease-in-out .4s;

}
.link div:hover{
  background-color: #2196F3;
  border-radius: 6px;
  width: 100%;
  padding: 10px 10px;
}
.link a{
  text-decoration: none;
  font-weight: 300;

}
.link a div{
  color: #fff;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
  
}


/* ---------------DETAILS STYLING ------------------------------- */




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue',;
  font-size: 16px;
}
.details-container{
    border-top: .7px solid #fff;
    padding: 15px 0;
}

.details{
    font-family: 'Lato';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.details button{
    background: none;
    outline: none;
    border: none;
    color: #fff;
}
.details-details{
    width: 200px;
}
.name{
    font-size: 18px;
    font-weight: 700;
}
.email{
    font-size: 14px;
    font-weight: 300;
}
/* .logout-icon{
    margin-left: 0px;
} */

